.card {
  width: 250px;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 15px;
  margin: 15px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  transition: 0.3s;
  display: inline-block;
}

.card:hover {
  transform: scale(1.05);
}

.product-img {
  width: 100%;
  height: 180px;
  object-fit: cover;
  border-radius: 8px;
}

.in {
  color: green;
  font-weight: bold;
}

.out {
  color: red;
  font-weight: bold;
}
